.contact-header{
  display: flex;
  justify-content: center;
  padding: 1em;
}

.message{
  height: 150px;
  width: 400px;
  background-color: #628395;
  padding: 1em;
  text-align: center;
  color: #fff;
}
.info{
  height: 150px;
  width: 400px;
  background-color: rgb(224, 224, 224, 0.2);
  padding: 2em;
  text-align: center;
  color: #8E969A;

}

.form-contain{
  padding: 1em;
  display: flex;
  justify-content: center;

}

.form{

  width: 500px;
  text-align: center;
  background-color: rgb(224, 224, 224, 0.2);
  padding: 1em;
  border-radius: 3%;
}

.input{
  margin-top: 5%;
}

.input-field {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #628395;
  width: 85%;
  height: 45px;
}

.error{
  color: #f39c12;
}

.successMsg{
  top: 50%;
  left: 50%;
  transform: translate(-50,-50);
  width: 400px;
  height: 200px;
  padding: 2em;
  z-index: 1000;
}

textarea{
  height: 215px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #628395;
  width: 85%;
}

.input > .btn{
  border-radius: 7px;
  text-transform: uppercase;
  width: 120px;
  color: #628395;

}


@media screen and (max-Width: 540px ) {

  .message{
    font-size: 14px;
    height: 165px;
  }


}