.process-container{
  height: 60rem;
  padding: 2rem 10rem;

}

.process-container > h1{
  color: #628395;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.process-container > h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.row-item > h2{
  color: #628395;
  text-align: center;
}
.row-item > p{
  text-align: center;
  margin: 5px;
}

.row1{
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start; 

}

.row2{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
.row3{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start; 

}
.row4{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
 
}

.row-item-1{
  width: 250px;
  height: 150px;
  background-color: #DEDEDE;
  box-shadow: 0px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.row-item-1 > img{
  /* padding-top: 10px; */
  padding: .5rem;
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.row-item-2{
  width: 500px;
  height: 150px;
  background-color: #F0F0F0;
  box-shadow: 6px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));

}

.row-item-5{
  width: 500px;
  height: 150px;
  background-color: #F0F0F0;
  box-shadow: 0px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));

}
.row-item-6{

  width: 250px;
  height: 150px;
  background-color: #DEDEDE;
  box-shadow: 6px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.row-item-6 > img{
  padding: .5rem;
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  
}

.row-item-7{

  width: 250px;
  height: 150px;
  background-color: #DEDEDE;
  box-shadow: 0px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.row-item-7 > img{
  width: 130px;
  display: block;
  margin: auto;
  padding: .5rem;
  height: auto;
  
}

.row-item-8{
  width: 500px;
  height: 150px;
  background-color: #F0F0F0;
  box-shadow: 6px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));


}

.row-item-10{
  width: 500px;
  height: 150px;
  background-color: #F0F0F0;
  box-shadow: 0px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.row-item-11{
  width: 250px;
  height: 150px;
  background-color: #DEDEDE;
  box-shadow: 6px 10px 20px rgba(1, 2, 3, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.row-item-11 > img{
  padding: .5rem;
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  
} 


@media screen and (max-Width: 970px ) {
  .row-item > p {
    display: none;
  }

  .row-item > h2{
    padding: 2rem;
    font-size: 18px ;
    
  }

}

@media screen and (max-Width: 540px ) {
  .row1{
    justify-content: center;
  }
  .row2{
    justify-content: center;
  }
  .row3{
    justify-content: center;
  }
  .row4{
    justify-content: center;
  }
  .row-item > h2{
    padding: 2rem;
    font-size: 12px ; 
  }
  .process-container > h1{
    font-size: 22px;
    color: #628395;
    font-weight: 500;
  
  }
  
  .process-container > h2{
    font-size: 14px;
    text-align: center;
  }
  .process-container{
   padding: 2rem 2rem;
  
  }




}